<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
	<mapper namespace="cl.falabella.sge.aslplus.sge.dao.OcencMapper">
	
	<resultMap id="OcencMap" type="cl.falabella.sge.aslplus.sge.entity.Ocenc">
	  <id 		property="negocio" 		column="C_NEGOCIO" jdbcType="VARCHAR"/>
	  <result 	property="canal" 		column="C_CANAL" jdbcType="VARCHAR"/>
	  <result 	property="numOC" 		column="C_OCENC" jdbcType="NUMERIC"/>
	</resultMap>

    <select id = "numOC" resultMap="OcencMap">
        SELECT C_NEGOCIO, C_CANAL, C_OCENC
	        FROM asl_ocenc
	        WHERE c_negocio = 'F'
	        AND c_canal = 'I'
	        AND C_OCENC = '5000525041'
    </select>
    
    <select id = "numOCList" resultMap="OcencMap">
        SELECT C_NEGOCIO, C_CANAL, C_OCENC
			FROM asl_ocenc
			WHERE c_negocio = 'F'
			AND c_canal = 'I'
			AND D_COLOCACION BETWEEN TO_DATE('2021-01-01','yyyy-mm-dd') AND TO_DATE('2021-06-01','yyyy-mm-dd')
    </select>
</mapper>